.idea
/function/product_data_test.py
/function/credential_details.py
/function/lambda_test.py
/function/rec__test.py
/function/config_test.py
__pycache__
virtual
**/.pytest_cache
.coverage
htmlcov
junit
.scannerwork
coverage.xml
function/profiler_test.py
.vscode
migrate_table/connection_details.conf
migrate_table/tables.conf
